.wetherBg{
  background: url("https://wc.wallpaperuse.com/wallp/78-784512_s.jpg");
  height: 60vh;
 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: white;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weathorIcon{
  margin-top: 1rn;
  width: 200px;
  height: 100px;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size: 55px;
  font-weight: 500;
}
